@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@mixin createIcon($width, $height, $data) {
  width: $width;
  height: $height;
  background-image: url($data);
  background-size: $width $height;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #18151a;
  font-size: 18px;
  color: #fff;
}

.text-primary {
  color: #ffd644;
}

.big-button {
  padding: 20px 60px;
  color: #000;
  background-color: #fff;
  font-size: 48px;
  font-weight: 300;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 100ms ease-in-out;
	width: fit-content;

  &:hover {
    transform: scale(1.04) perspective(1px);
  }
}

.container {
  &-body {
    padding: 25px 40px;
    margin: 0 auto;
    max-width: 1920px;
  }
}

.card-margin {
  margin: 45px 0;
}

.agile {
  &__dots {
    bottom: 10px;
    flex-direction: column;
    right: 30px;
    position: absolute;
  }

  &__dot {
    margin: 5px 0;

    button {
      background-color: transparent;
      border: 1px solid #ffd644;
      cursor: pointer;
      display: block;
      height: 10px;
      width: 10px;
      font-size: 0;
      line-height: 0;
      margin: 0;
      padding: 0;
      transition-duration: 0.3s;
    }
    &--current,
    &:hover {
      button {
        background-color: #ffd644;
      }
    }
  }
}

.dark-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: all 1000ms ease-in-out;
  user-select: none;

  &:hover {
    background: rgba(0, 0, 0, 0);
  }
}

.slide {
  display: block;
  max-height: 500px;
  height: 50vh;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1024px) {
	.big-button {
		font-size: 18px;
		padding: 16px 40px;
	}
}

@media screen and (max-width: 1023px) {
	.slide {
		height: 200px;
	}
}

@media screen and (max-width: 767px) {
	.agile__dot {
		button {
			width: 8px;
			height: 8px;
		}
	}

	.big-button {
		font-size: 12px;
	}
}

.icon {
  display: inline-block;
  vertical-align: middle;

  &-yqcSticker {
    @include createIcon(
      215px,
      215px,
      "data:image/svg+xml,%3Csvg width='215' height='216' viewBox='0 0 215 216' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='107.5' cy='108.498' r='107.5' fill='%23181106'/%3E%3Ccircle cx='107.5' cy='108.498' r='101.5' stroke='%23FFD644' stroke-width='2' stroke-linecap='round' stroke-dasharray='16 16'/%3E%3Cpath d='M46.84 85.56L63.544 111.352L80.376 85.56H82.872L64.696 113.592V131H62.456V113.464L44.344 85.56H46.84ZM105.317 131.32C102.16 131.32 99.2797 130.68 96.677 129.4C94.0743 128.077 91.8343 126.328 89.957 124.152C88.0797 121.976 86.629 119.523 85.605 116.792C84.581 114.019 84.069 111.181 84.069 108.28C84.069 105.251 84.6023 102.371 85.669 99.64C86.7783 96.8667 88.293 94.4133 90.213 92.28C92.133 90.104 94.373 88.3973 96.933 87.16C99.5357 85.88 102.33 85.24 105.317 85.24C108.474 85.24 111.333 85.9013 113.893 87.224C116.496 88.5467 118.736 90.3173 120.613 92.536C122.49 94.7547 123.941 97.2293 124.965 99.96C125.989 102.691 126.501 105.464 126.501 108.28C126.501 111.523 125.882 114.595 124.645 117.496C123.45 120.397 121.808 122.936 119.717 125.112L124.517 131H122.085L118.373 126.392C116.581 127.928 114.576 129.144 112.357 130.04C110.138 130.893 107.792 131.32 105.317 131.32ZM105.317 129.208C107.621 129.208 109.754 128.803 111.717 127.992C113.68 127.181 115.45 126.093 117.029 124.728L111.909 118.52H114.341L118.373 123.384C120.25 121.379 121.701 119.053 122.725 116.408C123.749 113.72 124.261 111.011 124.261 108.28C124.261 105.549 123.792 102.947 122.853 100.472C121.914 97.9547 120.592 95.7147 118.885 93.752C117.178 91.7467 115.152 90.1893 112.805 89.08C110.501 87.928 108.005 87.352 105.317 87.352C102.458 87.352 99.8557 87.9493 97.509 89.144C95.205 90.296 93.1997 91.896 91.493 93.944C89.829 95.9493 88.549 98.1893 87.653 100.664C86.757 103.139 86.309 105.677 86.309 108.28C86.309 111.011 86.7783 113.635 87.717 116.152C88.6557 118.627 89.957 120.867 91.621 122.872C93.3277 124.835 95.333 126.392 97.637 127.544C99.9837 128.653 102.544 129.208 105.317 129.208ZM132.382 107.96C132.382 105.229 132.851 102.541 133.79 99.896C134.771 97.208 136.179 94.776 138.014 92.6C139.848 90.3813 142.088 88.6107 144.734 87.288C147.422 85.9653 150.472 85.304 153.886 85.304C157.896 85.304 161.31 86.2427 164.126 88.12C166.984 89.9547 169.118 92.3227 170.526 95.224L168.606 96.12C167.496 93.9867 166.11 92.28 164.446 91C162.824 89.72 161.075 88.8027 159.198 88.248C157.32 87.6933 155.464 87.416 153.63 87.416C150.6 87.416 147.891 88.0133 145.502 89.208C143.155 90.4027 141.171 92.0027 139.55 94.008C137.928 96.0133 136.691 98.2533 135.838 100.728C135.027 103.16 134.622 105.635 134.622 108.152C134.622 110.968 135.112 113.635 136.094 116.152C137.075 118.669 138.44 120.931 140.19 122.936C141.939 124.899 143.966 126.456 146.27 127.608C148.616 128.717 151.134 129.272 153.822 129.272C155.742 129.272 157.704 128.952 159.71 128.312C161.715 127.672 163.571 126.669 165.278 125.304C167.027 123.939 168.456 122.189 169.566 120.056L171.55 120.824C170.526 123.085 169.032 125.005 167.069 126.584C165.107 128.163 162.931 129.357 160.542 130.168C158.195 130.979 155.87 131.384 153.566 131.384C150.451 131.384 147.592 130.723 144.99 129.4C142.43 128.035 140.211 126.243 138.334 124.024C136.456 121.763 134.984 119.245 133.918 116.472C132.894 113.656 132.382 110.819 132.382 107.96Z' fill='%23FFD644'/%3E%3C/svg%3E%0A"
    );
  }
}
